*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    
}

.body-content{
    background-color: lightblue;
}

.navbar{    
    display: flex;
    gap: 15px;
    background-color: #1f2937;
    color: white;
}

li{
    list-style-type: none;
}

li:nth-child(2){
    margin-left: auto;
}